In [3]:
# importing the required librarie for data manipulation and analysis
# importing pandas for dataframe manipulation
import pandas as pd
# importing numpy for numerical array manipulation
import numpy as np
# importing matplotlib and seaborn for visualization
import matplotlib.pyplot as plt
# importing seaborn
import seaborn as sn
# importing train_test split and grid search cv
from sklearn.model_selection import train_test_split, GridSearchCV
# importing pipeline
from sklearn.pipeline import Pipeline
# importing imputers
from sklearn.impute import SimpleImputer
# importing scalers
from sklearn.preprocessing import StandardScaler, MinMaxScaler, OneHotEncoder, OrdinalEncoder, LabelEncoder
# importing column transformers
from sklearn.compose import ColumnTransformer
# importing metrics for validating model fit
from sklearn.metrics import (accuracy_score,  classification_report, confusion_matrix, ConfusionMatrixDisplay,
    silhouette_score, calinski_harabasz_score)
# improting the ml learning algorithms
from sklearn.tree import DecisionTreeClassifier
#importing support vector classifier from the svm class
from sklearn.svm import SVC
# importing Randomforest form the ensemble class
from sklearn.ensemble import RandomForestClassifier
# importing logistic regression
from sklearn.linear_model import LogisticRegression
# importing warnings
#import warnings
#warnings.filterwarnings('ignore')

ModuleNotFoundError: No module named 'seaborn'

In [4]:
df_master = pd.read_csv("https://raw.githubusercontent.com/N-Sam/Group-6-Final-Project/refs/heads/main/Data/OULAD_master.csv")

In [7]:
df_master.shape

(32593, 25)

In [6]:
df_master.head()

,code_module,code_presentation,id_student,gender,region,highest_education,imd_band,age_band,num_of_prev_attempts,studied_credits,...,avg_score,assessments_attempted,exams_taken,total_clicks,days_active,resources_used,activity_types,first_access,last_access,module_presentation_length
0,AAA,2013J,11391,M,East Anglian Region,HE Qualification,90-100%,55<=,0,240,...,82.0,5.0,0.0,934.0,40.0,55.0,6.0,-5.0,253.0,268
1,AAA,2013J,28400,F,Scotland,HE Qualification,20-30%,35-55,0,60,...,66.4,5.0,0.0,1435.0,80.0,84.0,7.0,-10.0,239.0,268
2,AAA,2013J,30268,F,North Western Region,A Level or Equivalent,30-40%,35-55,0,60,...,NaN,NaN,NaN,281.0,12.0,22.0,6.0,-10.0,12.0,268
3,AAA,2013J,31604,F,South East Region,A Level or Equivalent,50-60%,35-55,0,60,...,76.0,5.0,0.0,2158.0,123.0,82.0,8.0,-10.0,264.0,268
4,AAA,2013J,32885,F,West Midlands Region,Lower Than A Level,50-60%,0-35,0,60,...,54.4,5.0,0.0,1034.0,70.0,66.0,7.0,-10.0,247.0,268

In [8]:
df_master.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32593 entries, 0 to 32592
Data columns (total 25 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   code_module                 32593 non-null  object
 1   code_presentation           32593 non-null  object
 2   id_student                  32593 non-null  int64
 3   gender                      32593 non-null  object
 4   region                      32593 non-null  object
 5   highest_education           32593 non-null  object
 6   imd_band                    31482 non-null  object
 7   age_band                    32593 non-null  object
 8   num_of_prev_attempts        32593 non-null  int64
 9   studied_credits             32593 non-null  int64
 10  disability                  32593 non-null  object
 11  final_result                32593 non-null  object
 12  date_registration           32548 non-null  float64
 13  date_unregistration         10072 non-null  float64
 14  total_submissions           25843 non-null  float64
 15  avg_score                   25820 non-null  float64
 16  assessments_attempted       25843 non-null  float64
 17  exams_taken                 25843 non-null  float64
 18  total_clicks                29228 non-null  float64
 19  days_active                 29228 non-null  float64
 20  resources_used              29228 non-null  float64
 21  activity_types              29228 non-null  float64
 22  first_access                29228 non-null  float64
 23  last_access                 29228 non-null  float64
 24  module_presentation_length  32593 non-null  int64
dtypes: float64(12), int64(4), object(9)
memory usage: 6.2+ MB

In [5]:
df_master_clean = pd.read_csv("https://raw.githubusercontent.com/N-Sam/Group-6-Final-Project/refs/heads/main/Data/OULAD_master_clean.csv")